<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>We’re excited to announce that we’ll be starting the retirement process for Canvabadges the week of April 30th and migrating all existing users over to Badgr.</p>
  <p>Badgr is free to use and offers a number of compelling features including a built-in leaderboard. The Badgr Team will be offering a webinar on the transition as well as a transition guide. All existing Canvabadges will automatically appear in Badgr as part of the transition. Canvabadges will be shutdown, with access to non-migrated data unrecoverably lost, on December 31st 2018.</p>
  <p>Please contact your CSM if you have any questions about the transition.</p>
</div>

<% if @for_current_user && @domain %>
  <h2>Your Badges at <%= @domain.name %></h2>
<% elsif @user && @domain %>
  <h2>Badges for <%= @user.name || 'User' %> at <%= @domain.name %></h2>
<% end %>
<% if @badges.empty? %>
  <% if @for_current_user %>
    No Data available
  <% else %>
    <p>No Badges Earned or Shared</p>
  <% end %>
<% end %>
<table>
  <% @badges.each do |badge| %>
    <% badge_url = @for_current_user ? "#{request.env['badges.path_prefix'] }/badges/check/#{badge.badge_placement_config_id}/#{badge.user_id}" : "#{ request.env['badges.path_prefix'] }/badges/criteria/#{badge.badge_config_id}/#{badge.config_nonce}?user=#{badge.nonce}" %>
    <tr>
    <td style='padding: 5px;'><a href='<%= badge_url %>'><img src='<%= badge.badge_url %>' class='thumbnail' alt='badge image' style="width: 90px;"/></a></td>
    <td style='padding: 0 5px;'><%= badge.name %>
      <% if @for_current_user %>
        <form class='form-inline' action='<%= request.env['badges.path_prefix'] %>/badges/<%= badge.nonce %>' style='margin: 0 0 0 15px;'>
        <label><input class='public_badge' <%= 'checked' if badge.public %> type='checkbox'/> show on my Canvas profile</label>
        </form>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>
<% if @for_current_user && !@badges.empty? %>
  <% url = "#{protocol}://#{request.env['badges.domain']}/badges/all/#{params['domain_id']}/#{params['user_id']}" %>
  <br/><form class='form-inline'><label>Share this Page: <input type='text' value='<%= url %>'/></label></form>
<% end %>
